.button, .button-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background: #3e88c8;
  max-width: 195px;
  border-radius: 5px;
  text-align: center;
  min-height: 32px;
  line-height: 32px;
  z-index: 999;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 1px 0px 12px;
  box-shadow: 1px 0px 12px;
  border: 2px solid;
  color: #fff;
  margin: 10px auto;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .button a, .button-blue a {
    font-size: 15px; }

.button-blue {
  background: #b750b1; }

.button-two {
  display: block;
  padding: 10px;
  height: 20px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d93806), color-stop(#d93806), color-stop(#d93806), color-stop(#d93806), color-stop(#d93806), color-stop(#eb7753), to(#d93806));
  background: -webkit-linear-gradient(top, #d93806, #d93806, #d93806, #d93806, #d93806, #eb7753, #d93806);
  background: -o-linear-gradient(top, #d93806, #d93806, #d93806, #d93806, #d93806, #eb7753, #d93806);
  background: linear-gradient(to bottom, #d93806, #d93806, #d93806, #d93806, #d93806, #eb7753, #d93806);
  border: 1px double #835a5a;
  max-width: 200px;
  text-align: center;
  margin: 10px auto; }
  .button-two a {
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase; }

.button:hover {
  background: #cce;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px); }

.button:active {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 2px 5px 24px #fff;
  box-shadow: 2px 5px 24px #fff; }

@media screen and (max-width: 720px) {
  .button-blue {
    width: 250px; } }

@media screen and (max-width: 500px) {
  .button a, .button-blue a {
    font-size: 12px;
    line-height: 16px; } }
