.heading {
  font-size: 32px;
  line-height: 45px;
  color: #EF5D14;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center; }
  .heading span {
    display: block; }

.action {
  text-transform: uppercase;
  color: black;
  font-size: 15px;
  line-height: 20px;
  text-align: center; }

#go-top {
  position: fixed;
  font-family: sans-serif;
  line-height: 30px;
  text-align: center;
  color: #fff;
  bottom: 25px;
  right: 10px;
  cursor: pointer;
  display: none;
  width: 70px;
  height: 30px;
  background: #c0c0c0;
  border-radius: 5px; }

#go-top:hover {
  background: #333; }

@media screen and (max-width: 500px) {
  .heading {
    font-size: 21px;
    line-height: 25px; } }
