$icon-color: #3e88c8;
$bg-color: #cc72be;
.button, .button-blue {
	display: flex;
    padding: 5px;
    background: $icon-color;
    max-width: 195px;
    border-radius: 5px;
    text-align: center;
    min-height: 32px;
    line-height: 32px;
    z-index: 999;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0px 12px;
    border: 2px solid;
    color: #fff;
    margin: 10px auto;
    text-transform: uppercase;
    transition: all .2s;
     a {
        font-size: 15px;
     }
}
.button-blue {
	background: #b750b1;
}
.button-two {
	display: block;
	padding: 10px;
    height: 20px;
	border-radius: 5px;
	background: linear-gradient(to bottom, #d93806, #d93806, #d93806, #d93806, #d93806,  #eb7753, #d93806);
	border: 1px double #835a5a;
	    max-width: 200px;
    text-align: center;
    margin: 10px auto;
	 a {
		font-size: 17px;
		line-height: 24px;
		color: #fff; 
		text-transform: uppercase;
	}
}

.button:hover {
  background: #cce;
  transform: translateY(-3px);
}

.button:active {
    transform: translateY(-1px); 
    box-shadow: 2px 5px 24px #fff; 
}

@media  screen and (max-width: 720px) {
.button-blue {
  width: 250px;
	}
}

@media  screen and (max-width: 500px) {
    .button, .button-blue {
        a {
            font-size: 12px;
            line-height: 16px;
        }
    }
}