.card-product__content {
  margin-bottom: 20px; }
  
.card-header  {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(73, 87, 103, 0.56);
    box-shadow: 0px 2px 15px 0px rgba(73, 87, 103, 0.56);
  border-top-right-radius: 10px; 
  border-top-left-radius: 10px; }

.card-product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .card-product__list .card-product {
    /*background: white;*/
    width: 24%;
    margin-bottom: 20px;
    border-radius: 2px;
    /*-webkit-box-shadow: 0px 2px 15px 0px rgba(73, 87, 103, 0.56);
    box-shadow: 0px 2px 15px 0px rgba(73, 87, 103, 0.56); */}

.card-title {
  background-image: url(../images/bg-card2.jpg);
  background-size: cover;
  overflow: hidden;
  padding: 10px 0px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
  text-align: center;
  height: 39px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  border-top-right-radius: 10px; 
  border-top-left-radius: 10px; }

.card-subtitle {
  padding: 5px;
  background: #000;
  color: #fff;
  width: 82px; 
  border-bottom-right-radius: 10px;
  align-items: center;
  height: 37px;
  display: flex;
  justify-content: center;
     }

.card-body {
  /*border: 1px solid #cfd1d3;*/
  background-color: #fff;
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
  -webkit-box-shadow: 0px 2px 15px 0px rgba(73, 87, 103, 0.56);
  box-shadow: 0px 2px 15px 0px rgba(73, 87, 103, 0.56);
  padding: 4px; }

.card-image {
     height: 288px;
     overflow: hidden;
     position: relative;
      img {
        display: block;
        min-width: 100%;
        max-width: none;
        position: absolute;
        left: -50%;
        right: -50%;
        top: -50%;
        bottom: -50%;
        margin: auto;
      }
  }


.card-akciya-description {
  padding: 0 5px;
  background: #eb0c2b;
  color: #fff;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(233, 12, 43, 0.56);
  box-shadow: 0px 2px 15px 0px rgba(233, 12, 43, 0.56);
  max-width: 280px; }
  .card-akciya-description .decor {
    display: block;
    color: #ffff33;
    text-decoration: underline; }

.card-feature__title {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 7px 9px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 7px 9px 0px rgba(50, 50, 50, 0.25);
  margin-bottom: 10px;
  position: relative;
}

.card-feature__list {
  display: block;
  padding: 0 5px; 
}

.card-feature__list .card-feature__list-title {
  font-weight: bold;
}

.card-prise {
  border-radius: 10px;
  text-align: center;
  background: #eee;
  padding: 10px;
  color: #7d7d7d;
  font-size: 20px;
  line-height: 28px; }
  .card-prise .card-prise__new {
    font-size: 46px; 
  color: #333333;}  
  .card-cash {
  font-size: 24px;
}
  
.card-product-list__title {
  font-size: 38px;
  line-height: 49px;
  text-decoration: underline;
  margin-bottom: 10px;
  color: #d93806;
  font-weight: bold; }

@media  screen and (max-width: 960px) {
   .card-product__list { 
   .card-product {
    width: 33%;
    }
    }
}
@media  screen and (max-width: 643px) {
   .card-product__list { 
   .card-product {
    width: 50%;
    }
    }
}
@media  screen and (max-width: 413px) {
   .card-product__list { 
    justify-content: center;
   .card-product {
    width: 80%;
    }
    }
}

@media  screen and (max-width: 384px) {
.card-product-list__title {
       font-size: 30px;
  }
}
