.nav {
	box-shadow: 0px 3px 17px 0px rgba(234, 206, 0, 0.5);
}
.navbar-list {
	align-items: center;
	display: flex;
}
.navbar {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	align-items: center;
	.navbar__logo {
		width: 14%;
		height: auto;
	}
}
@media  screen and (max-width: 900px) {
	.navbar {
	   .navbar__logo {
		width: 18%;
	  }
	}
}

@media  screen and (max-width: 720px) {
	.navbar {
	   flex-direction: column;
	   .navbar__logo {
		width: 30%;
		margin-bottom: 1em;
	  }
	}
}

@media  screen and (max-width: 500px) {
   .navbar {
	.navbar__logo {
		width: 23%;
		height: 60px;
	}
  }
}